@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, p {
  color: inherit;
  font-size: 22px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  line-height: 1.2;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  background-image: url("../img/header-img/header_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  margin-bottom: 100px;
}

.header__container-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 82px 60px 97px;
}

.header__container-content {
  padding: 0 270px;
}

.header-menu__logo {
  width: 50%;
  overflow: hidden;
}

.header-menu__nav {
  margin-right: auto;
}

.header-menu__btn {
  padding: 30px 44px;
  font-size: 14px;
  font-weight: 700;
  background: #F9CA25;
  -webkit-box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.35);
  border-radius: 40px;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.header-menu__btn:hover {
  background: #ffdd60;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  font-weight: 500;
}

.nav__item + .nav__item {
  margin-left: 65px;
}

.nav__link {
  color: #fff;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.nav__link:hover {
  color: #F9CA25;
}

.header-content__title {
  max-width: 877px;
  font-weight: 700;
  font-size: 72px;
  margin-bottom: 36px;
}

.header-content__subtitle {
  max-width: 758px;
  font-family: 'PT Serif', serif;
  margin-bottom: 120px;
}

.header-content__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__card {
  margin-bottom: 95px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header__card:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.header__card + .header__card {
  margin-left: 20px;
}

.header__card-img {
  width: 446px;
  height: 233px;
  margin-bottom: 21px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0px 64px 44px -30px rgba(0, 0, 0, 0.65);
          box-shadow: 0px 64px 44px -30px rgba(0, 0, 0, 0.65);
  border-radius: 10px;
}

.header__card-img:hover {
  background: rgba(0, 0, 0, 0.5);
}

.header__card-text {
  font-weight: 800;
  font-size: 22px;
}

.meals {
  padding-top: 100px;
}

.meals__container {
  padding: 0 100px;
}

.meals__title {
  margin-bottom: 43px;
  font-weight: 800;
  font-size: 42px;
}

.meals__card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
}

.meals__card .meals__card-img {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.meals__card {
  margin-bottom: 145px;
}

.meals__card:hover .meals__card-img {
  opacity: 0.7;
}

.meals__card + .meals__card {
  margin-left: 60px;
}

.meals__card-img {
  position: relative;
}

.meals__card-img img {
  width: 380px;
  height: 305px;
  margin-bottom: 17px;
}

.meals__card-text {
  width: 360px;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 15px;
}

.meals__card-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  color: #999;
}

.card-description__text {
  font-size: 14px;
}

.card-description__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-description__svg p {
  margin-left: 10px;
}

.tag {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-weight: 400;
  text-transform: uppercase;
}

.tag__new {
  padding: 8px 30px;
  font-size: 12px;
  background: #F9CA25;
  border-radius: 20px;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.tag__new:hover {
  background: #ffdd60;
}

.footer {
  padding-top: 140px;
  background: #F5F5F5;
}

.footer__top, .footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 160px 0 60px;
}

.footer__top {
  margin-bottom: 80px;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 60px;
  padding: 70px 0 83px 0;
  border-top: 1px solid #999;
}

.footer {
  color: #999999;
}

.footer__logo {
  width: 50%;
}

.footer__text {
  margin-top: 64px;
  width: 663px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #999999;
}

.footer__text + .footer__text {
  margin-top: 5px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.footer-menu__wrapper + .footer-menu__wrapper {
  margin-left: 228px;
}

.footer-menu__title {
  margin-bottom: 44px;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
}

.footer-menu__item + .footer-menu__item {
  margin-top: 30px;
}

.footer-menu__link {
  font-size: 18px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.footer-menu__link:hover {
  color: #000;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__bottom-social .footer-menu__title {
  margin-bottom: 15px;
}

.footer__bottom-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 52px;
  font-weight: 800;
  letter-spacing: 0.03em;
  color: #000000;
}

.footer__bottom-text + .footer__bottom-text {
  margin-left: 83px;
}

.social__icon + .social__icon {
  margin-left: 50px;
}
