.header {
    margin-bottom: 102px;
    background-image: url("../img/header-img/header_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;

    // .header__container-menu

    &__container-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 82px 60px 97px;
    }

    // .header__container-content

    &__container-content {
        padding: 0 270px;
    }
}