.header-menu {
    // .header-menu__logo

    &__logo {
        width: 50%;
        overflow: hidden;
    }

    // .header-menu__nav

    &__nav {
        margin-right: auto;
    }

    // .header-menu__btn

    &__btn {
        padding: 30px 44px;
        font-size: 14px;
        font-weight: 700;
        background: #F9CA25;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.35);
        border-radius: 40px;
        text-transform: uppercase;
        transition: 0.3s ease-in;
        
        &:hover {
            background: #ffdd60;
            ;
        }
    }
}

.nav {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    
    // .nav__item
    &__item {
        &+.nav__item {
            margin-left: 65px;
        }
    }
    
    // .nav__link

    &__link {
        color: #fff;
        transition: 0.3s ease-in;
        
        &:hover {
            color: #F9CA25;
        }
    }
}
