* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,h2,h3,p {
    color: inherit;
    font-size: 22px;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    padding: 0;
    line-height: 1.2;
    border: none;
    background-color: transparent;
    cursor: pointer;
}